@import '../base/mixin/size.scss';
.call-audio{
    font-size: 12px;
    vertical-align: middle;
    color: #606265;
    .audio-close{
        display: inline-block;
        cursor: pointer;
    }
    .audio-text{
        margin-right:4px
    }
    .audio-control{
        margin: 0 14px 0 0;
        border: none;
        outline: none;
        padding: 0px;
        display: inline-block;
        width: 14px;
        height: 14px;
        background: #52BBFF;
        border-radius: 50%;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
    }
    .el-icon-audioplay,.el-icon-audiopause{
        width: 8px;
        height: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%)
    }
    .el-icon-audioplay{
        background: url('~@/assets/icons/audio-play.png') no-repeat center/contain
    }
    .el-icon-audiopause{
        background: url('~@/assets/icons/audio-pause.png') no-repeat center/contain
    }
    .el-slider{
        vertical-align: middle;
        display: inline-block;
        margin-right: 12px;
        .el-slider__runway{
            width: 98px;
            height: 5px;
            margin:0;
            cursor: default;
            .el-slider__bar{
                height: 5px;
            }
            .el-slider__button-wrapper{
                width: 16px;
                height: 16px;
                top:50%;
                transform: translateY(-50%);
                z-index: 990;
                cursor: default;
                .el-slider__button{
                    position: absolute;
                    top:50%;
                    transform: translateY(-50%);
                    left: -3px;
                    cursor: default;
                    width: 12px;
                    height: 12px;
                    background: #52BBFF;
                    border:1px solid #fff;
                    cursor: pointer;
                }
            }
            
        }
    }
    .audio-play{
        vertical-align: middle;
        .format-time{
            display: inline-block;
            vertical-align: middle;
            margin-top: 1px
        }
    }
 }
 .record-audio{
    position: absolute;
    width:436px;
    // height: 50px;
    background: #FFFFFF;
    left: 0px;
    bottom: 0px;
    .call-audio {
        position: relative;
        border-top: 1px solid #E6E8EE;
        padding: 6px 10px;
    }
    .el-slider{
        .el-slider__runway{
            width: 183px;
        }
    }
    .audio-close{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        &:hover{
            color: #999ca1;
        }
    }
    .rate-btn{
        border: none;
        background: none;
        padding: 1px 0;
        margin-right: 12px;
        font-size: 12px;
        color: #606265;
        cursor: pointer;
        &:hover{
            color: #52BBFF;
        }
        &.focus-rate{
            color: #52BBFF;
        }
    }
 }
 .call-audio.upload-audio{
    display: inline-block;
    line-height: 34px;
    font-size: 10px;
    // left: 232px;
    // bottom: 0px;
    // top: 3px;
    // line-height: 24px;
    .toggle-show{
        display: inline-block
    }
    .audio-control{
        margin-right: 8px;
    }
    .el-slider{
        margin-right: 12px;
        .el-slider__runway{
            width: 98px;
        }
    }
    .audio-close{
        margin-left: 5px;
        font-size: 14px;
    }
 }
 .modal-body{
    .call-audio.upload-audio{
        .el-slider{
            .el-slider__runway{
                width: 90px;
            }
        }
    }
 }

 .audio-control{
  .el-icon-audioplay{
    @include size(16px);
    // background: url('../../icons/ivrnode-play.png') no-repeat center/contain
  }
  .el-loading-spinner{
      margin-top: -8px;
  }
  .el-loading-spinner .circular{
    width: 12px;
    height: 12px;
    vertical-align: 8px;
  }
  .el-loading-spinner .path{
    stroke:#fff;
  }
  &.loading-btn{
    background: rgba(82, 187, 255,.5);
    cursor: not-allowed;
    pointer-events: none;
  }
}
.audio-close{
  color: #B4BDCE;
}