@import '../base/theme.scss';
@import '../base/mixin/text.scss';
.audio-tootip.el-tooltip__popper.is-light{
  transform: translateY(5px);
  &.is-light[x-placement^="top"] .popper__arrow{
    transform: translateX(-2px);
  }
}
.voice-upload{
  display: inline-block;
  vertical-align: top;
  font-size: 0;

  .tool-tip{
    margin-left: 8px;
    width: 14px;
    height: 36px;
    vertical-align: middle;
    margin-right: 12px;
    i{
      height: 36px;
      line-height: 36px;
      // vertical-align: middle;
    }
  }

  // 文件信息
  &__tip {
    color: $info-text-color;
    display: inline-block;
    // vertical-align: top;
    vertical-align: middle;
    line-height: 17px;
    font-size: 12px;
    &.question-file-name{
      margin-left: 10px
    }
    p {
      display: inline-block;
      @include ellipsis();
      vertical-align: middle;
    }
    &.trigger p:not(.failed):not(:empty):before{
      background: url(../../icons/file-hover.png) no-repeat center/contain;
    }
    p:not(.failed):not(:empty):before{
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../../icons/file.png) no-repeat center/contain;
        vertical-align: -2px;
        margin-right: 4px;
    }
  }
  &__close.el-button{
      vertical-align: top;
      margin-left: 8px;
      color: #B4BDCE;
      vertical-align: middle;
      padding: 0;
      &:hover{
        color: #909399;;
      }
  }
  // 错误信息
  .failed {
      height: 23px;
      line-height: 23px;
      font-size: 12px;
      display: inline-block;
      color: $danger;
      &.question-error-tip{
        margin-left: 10px;
        vertical-align: middle
      }
  }
}

.modal-header{
  color: $colorText;
  line-height: 22px;
}
.el-progress__text{
  font-size: 14px!important;
  color:#333333;
}
.modal.modal-padding-45 .modal-body {
    padding: 30px 33px 32px;
}
.modal p.progress-tip{
  @include ellipsis();
  height: 20px;
  line-height: 20px;
  color: #606266;
  font-size: 14px;
}
